workflow_hybrid_payload.json
{"name": "TOP 5 – Daily Hybrid (23:30 CET)", "nodes": [{"id": "trigger", "name": "Daily 23:30 CET", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [100, 600], "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "30 23 * * *"}]}}}, {"id": "prefetch", "name": "Pre-fetch Structured Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [320, 600], "onError": "continueRegularOutput", "parameters": {"jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Europe/Berlin' });\nconst dateShort = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/New_York' });\nconst ODDS_KEY = 'cb4448f677350327c1acf3df30bd363f';\n\nfunction safeTime(iso, tz='America/New_York') {\n  try { return new Date(iso).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZone: tz, hour12: true }); }\n  catch(e) { return 'TBD'; }\n}\nfunction nhlTeamName(t) {\n  if (!t) return 'TBD';\n  const place = t.placeName?.default || '';\n  const common = t.commonName?.default || t.teamName?.default || '';\n  return (place + ' ' + common).trim() || t.abbrev || 'TBD';\n}\n\n// Parallel HTTP fetches\nconst http = (url) => this.helpers.httpRequest({ method: 'GET', url });\n\nconst [nhlSched, mlbSched, oddsNhl, oddsMlb, oddsNba] = await Promise.all([\n  http(`https://api-web.nhle.com/v1/schedule/${today}`).catch(()=>null),\n  http(`https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=${today}&hydrate=probablePitcher,venue(location)`).catch(()=>null),\n  http(`https://api.the-odds-api.com/v4/sports/icehockey_nhl/odds?regions=us&markets=h2h,spreads,totals&oddsFormat=american&bookmakers=pinnacle,circasports&apiKey=${ODDS_KEY}`).catch(()=>[]),\n  http(`https://api.the-odds-api.com/v4/sports/baseball_mlb/odds?regions=us&markets=h2h,spreads,totals&oddsFormat=american&bookmakers=pinnacle,circasports&apiKey=${ODDS_KEY}`).catch(()=>[]),\n  http(`https://api.the-odds-api.com/v4/sports/basketball_nba/odds?regions=us&markets=h2h,spreads,totals&oddsFormat=american&bookmakers=pinnacle,circasports&apiKey=${ODDS_KEY}`).catch(()=>[])\n]);\n\n// --- Parse NHL ---\nlet nhlGames = [];\ntry {\n  const weekDates = nhlSched?.gameWeek || [];\n  const todayEntry = weekDates.find(d => d.date === today) || weekDates[0];\n  for (const g of (todayEntry?.games || [])) {\n    nhlGames.push({\n      home: nhlTeamName(g.homeTeam),\n      away: nhlTeamName(g.awayTeam),\n      timeET: g.startTimeUTC ? safeTime(g.startTimeUTC) : 'TBD',\n      venue: g.venue?.default || ''\n    });\n  }\n} catch(e) {}\n\n// --- Parse MLB ---\nlet mlbGames = [];\ntry {\n  const games = mlbSched?.dates?.[0]?.games || [];\n  for (const g of games) {\n    mlbGames.push({\n      home: g.teams?.home?.team?.name || 'TBD',\n      away: g.teams?.away?.team?.name || 'TBD',\n      timeET: g.gameDate ? safeTime(g.gameDate) : 'TBD',\n      venue: g.venue?.name || '',\n      venueLat: g.venue?.location?.defaultCoordinates?.latitude,\n      venueLon: g.venue?.location?.defaultCoordinates?.longitude,\n      roofType: g.venue?.location?.stateAbbrev, // placeholder for roof info\n      homeStarter: g.teams?.home?.probablePitcher?.fullName || 'TBD',\n      awayStarter: g.teams?.away?.probablePitcher?.fullName || 'TBD'\n    });\n  }\n} catch(e) {}\n\n// --- Parse NBA (from Odds API) ---\nlet nbaGames = [];\ntry {\n  for (const ev of (oddsNba || [])) {\n    nbaGames.push({\n      home: ev.home_team,\n      away: ev.away_team,\n      timeET: ev.commence_time ? safeTime(ev.commence_time) : 'TBD'\n    });\n  }\n} catch(e) {}\n\n// --- Format odds per sport ---\nfunction formatOdds(events, sport) {\n  if (!events || !Array.isArray(events)) return 'ODDS UNAVAILABLE';\n  return events.map(ev => {\n    const match = `${ev.away_team} @ ${ev.home_team}`;\n    const lines = [];\n    for (const bk of (ev.bookmakers || [])) {\n      const bkName = bk.title || bk.key;\n      const h2h = bk.markets?.find(m=>m.key==='h2h');\n      const spr = bk.markets?.find(m=>m.key==='spreads');\n      const tot = bk.markets?.find(m=>m.key==='totals');\n      let s = `  ${bkName}:`;\n      if (h2h) s += ` ML ${h2h.outcomes.map(o => `${o.name} ${o.price>0?'+':''}${o.price}`).join(' / ')}`;\n      if (spr) s += ` | ${sport==='NHL'?'PL':sport==='MLB'?'RL':'Spread'} ${spr.outcomes.map(o=>`${o.name} ${o.point>0?'+':''}${o.point} (${o.price>0?'+':''}${o.price})`).join(' / ')}`;\n      if (tot) s += ` | Total ${tot.outcomes.find(o=>o.name==='Over')?.point || '?'} (O ${tot.outcomes.find(o=>o.name==='Over')?.price||'?'} / U ${tot.outcomes.find(o=>o.name==='Under')?.price||'?'})`;\n      lines.push(s);\n    }\n    return match + '\\n' + lines.join('\\n');\n  }).join('\\n\\n');\n}\n\nconst nhlOdds = formatOdds(oddsNhl, 'NHL');\nconst mlbOdds = formatOdds(oddsMlb, 'MLB');\nconst nbaOdds = formatOdds(oddsNba, 'NBA');\n\n// --- Weather for MLB outdoor venues ---\nconst DOME_KEYWORDS = ['rogers centre','tropicana','minute maid','globe life','chase field','american family','loandepot','t-mobile park'];\nlet mlbWeather = '';\ntry {\n  const outdoor = mlbGames.filter(g => g.venueLat && g.venueLon && !DOME_KEYWORDS.some(k => g.venue.toLowerCase().includes(k)));\n  const weatherResults = await Promise.all(outdoor.map(g =>\n    http(`https://api.open-meteo.com/v1/forecast?latitude=${g.venueLat}&longitude=${g.venueLon}&hourly=temperature_2m,wind_speed_10m,wind_direction_10m,relative_humidity_2m,precipitation_probability&forecast_days=1&temperature_unit=fahrenheit&wind_speed_unit=mph`).catch(()=>null)\n  ));\n  mlbWeather = outdoor.map((g, i) => {\n    const w = weatherResults[i];\n    if (!w?.hourly) return `${g.away} @ ${g.home}: weather unavailable`;\n    const gameHour = g.timeET ? parseInt(g.timeET.split(':')[0]) + (g.timeET.includes('PM') && !g.timeET.startsWith('12') ? 12 : 0) : 19;\n    const idx = Math.min(gameHour, 23);\n    const temp = w.hourly.temperature_2m?.[idx];\n    const wind = w.hourly.wind_speed_10m?.[idx];\n    const windDir = w.hourly.wind_direction_10m?.[idx];\n    const hum = w.hourly.relative_humidity_2m?.[idx];\n    const precip = w.hourly.precipitation_probability?.[idx];\n    return `${g.away} @ ${g.home} (${g.venue}): ${temp}°F, wind ${wind} mph @ ${windDir}°, humidity ${hum}%, precip ${precip}%`;\n  }).join('\\n');\n} catch(e) { mlbWeather = 'Weather fetch error: ' + e.message; }\n\n// --- Format fixtures blocks ---\nconst nhlFixtures = nhlGames.map(g => `${g.away} @ ${g.home} | ${g.timeET} ET | ${g.venue}`).join('\\n') || 'No NHL games.';\nconst mlbFixtures = mlbGames.map(g => `${g.away} (${g.awayStarter}) @ ${g.home} (${g.homeStarter}) | ${g.timeET} ET | ${g.venue}`).join('\\n') || 'No MLB games.';\nconst nbaFixtures = nbaGames.map(g => `${g.away} @ ${g.home} | ${g.timeET} ET`).join('\\n') || 'No NBA games.';\n\nreturn [{\n  json: {\n    todayDate: today,\n    dateShort,\n    nhlCount: nhlGames.length,\n    mlbCount: mlbGames.length,\n    nbaCount: nbaGames.length,\n    nhlFixtures,\n    mlbFixtures,\n    nbaFixtures,\n    nhlOdds,\n    mlbOdds,\n    nbaOdds,\n    mlbWeather\n  }\n}];"}}, {"id": "p-nhl-1", "name": "Perplexity NHL 1 Lines Movement Injuries", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [540, 300], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NHL games listed below, report in a structured per-game format:\n1. Current Pinnacle and Circa moneyline, puck line +/-1.5, and total.\n2. Opening line vs current line (line movement direction and size).\n3. Public bet % and public money % if available.\n4. Active injuries - all skaters listed Day-to-Day, Doubtful, IR with average TOI and role (PP1, PK1, top-6 F, top-4 D).\n5. Recent deadline acquisitions affecting chemistry.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.nhlFixtures }}\n\nProvide raw facts only, no analysis or picks. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-nhl-2", "name": "Perplexity NHL 2 Goalies Form", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [760, 300], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NHL games, report confirmed goalie information from Daily Faceoff, Rotowire, and NHL Official Injury Report:\n1. Confirmed starting goaltender for each team (NAME - confirmed or projected).\n2. Each starter's season SV%, GSAx, last-10-starts SV%, home/away splits, record.\n3. Workload: starts in last 14 days. Flag any starter on 3+ starts in 5 days (fatigue) or 0 starts in 10+ days (rust).\n4. Career record vs today's opponent.\n5. Each team's season goals for/against per game and days of rest before today's game.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.nhlFixtures }}\n\nRaw facts only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-nhl-3", "name": "Perplexity NHL 3 Analytics", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [980, 300], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NHL games, pull team analytics from MoneyPuck, HockeyViz, Natural Stat Trick, Dom Luszczyszyn's model, and Evolving Hockey:\n1. Each team's 5-on-5 xGF%, CF%, HDCF%, PDO for full season AND last 10 games.\n2. PP% and PK% for full season AND last 10.\n3. Penalties drawn per game and PIM per game.\n4. Score-close 5v5 record and shot share.\n5. SU record and puckline cover record at home and on road, season and last 10.\n6. Head-to-head season series: result, margin, goaltender used.\n7. Referee crew assigned today and their season penalties/game and goals/game averages.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.nhlFixtures }}\n\nRaw numbers only, no picks. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-mlb-1", "name": "Perplexity MLB 1 Starters Form", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [540, 600], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's MLB games (shown with probable pitchers below), report from Baseball Savant, FanGraphs, and Rotowire:\n1. Confirm the probable starter shown is still scheduled (vs late scratches).\n2. Each starter: season ERA, FIP, xFIP, WHIP, K/9, BB/9, HR/9, L/R splits, home/away splits.\n3. Last 3 starts: pitch count, IP, ERA, K/BB. Flag starters on short rest (<=4 days), exceeding season-high pitch count, or velocity drop >=1 mph vs season average per Baseball Savant.\n4. Career stats vs today's opposing lineup (min. 30 PA sample).\n\nGames (with probable pitchers):\n{{ $('Pre-fetch Structured Data').first().json.mlbFixtures }}\n\nRaw facts only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-mlb-2", "name": "Perplexity MLB 2 Bullpen Injuries Umpire", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [760, 600], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's MLB games, report:\n1. Bullpen state for each team: relievers who threw 20+ pitches yesterday or 35+ in last 2 days, relievers currently unavailable (IL or rest). Bullpen season ERA/FIP rank.\n2. Closer and primary setup man status (available or not, last used date).\n3. Lineup cards (posted or projected): note platoon changes, late scratches, any lineup missing 2+ regular starters.\n4. Active injuries - all position players on IL or day-to-day with WAR, OPS, lineup position.\n5. Home plate umpire assigned today and their career/current-season: runs/game, K rate, BB rate, O/U percentage.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.mlbFixtures }}\n\nRaw data only. Cite Rotowire, MLB Official Injury Report, UmpScorecards, or similar."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-mlb-3", "name": "Perplexity MLB 3 Lines Weather Movement", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [980, 600], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's MLB games, report:\n1. Opening and current Pinnacle moneyline, run line -1.5/+1.5, and total. Line movement direction.\n2. Public bet % and public money % per Action Network, Sports Insights, or BetQL. Flag reverse line movement (line moves against >=60% public money).\n3. Weather at game time for outdoor parks: temperature, wind speed, wind direction relative to home plate, humidity, precipitation probability. Confirm whether stadium is dome/roof-closed.\n4. FanGraphs park factor for runs (1-year and 3-year).\n5. Head-to-head season series: record, run differential, starter used.\n6. Each team's home/road record, OPS, ERA this season and last 30 days.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.mlbFixtures }}\n\nRaw facts only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-nba-1", "name": "Perplexity NBA 1 Games Lines Injuries", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [540, 900], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NBA games (listed below with current Pinnacle/Circa lines), report:\n1. Confirm games, tip-off times, and lines. Cross-check opening-to-current movement from Action Network, Sports Insights, BetQL.\n2. Public bet % and public money %. Flag reverse line movement (line moves against >=60% public money).\n3. Active injuries - all players listed Questionable or Doubtful per NBA Official Injury Report, Rotowire, and ESPN. Note minutes per game and usage rate of any absent starter.\n4. Rest days per team, back-to-back status, travel distance, time zone changes.\n\nGames (with current odds):\n{{ $('Pre-fetch Structured Data').first().json.nbaFixtures }}\n\n{{ $('Pre-fetch Structured Data').first().json.nbaOdds }}\n\nRaw facts only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-nba-2", "name": "Perplexity NBA 2 Ratings Pace ATS", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [760, 900], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NBA games, report from Cleaning The Glass, BasketballReference, NBA.com/Stats, or similar:\n1. Each team's offensive rating (ORTG) and defensive rating (DRTG) for last 10 games AND full season.\n2. Team pace (possessions per game) both last 10 and season. Flag pace mismatches >=3 possessions/game.\n3. Each team's ATS (against the spread) record at home and on the road, season and last 10 games.\n4. Each team's record SU and cover %.\n5. Projections from Dimers, SportsLine, FanDuel Research, VegasInsider, ScoresAndOdds - note divergence from current Pinnacle line (>=1.5 pts spread or >=3 pts total).\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.nbaFixtures }}\n\nRaw numbers only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "p-nba-3", "name": "Perplexity NBA 3 H2H Context", "type": "n8n-nodes-base.perplexity", "typeVersion": 1, "position": [980, 900], "parameters": {"model": "sonar-pro", "messages": {"message": [{"role": "user", "content": "=Today is {{ $('Pre-fetch Structured Data').first().json.dateShort }}. For EACH of today's NBA games, report:\n1. Head-to-head this season: ATS result and margin in prior meetings.\n2. Playoff seeding implications: is this an elimination game, do standings matter, rivalry intensity, rest-starters risk for clinched teams.\n3. Any \"letdown\" spots or \"look-ahead\" spots (following a marquee matchup or preceding one).\n4. Notable recent roster changes or rotation shifts.\n5. Key individual matchups (star vs star) that drive the game plan.\n\nGames:\n{{ $('Pre-fetch Structured Data').first().json.nbaFixtures }}\n\nRaw facts only. Cite sources."}]}, "options": {"searchRecency": "day", "temperature": 0.1}, "requestOptions": {}}, "credentials": {"perplexityApi": {"id": "HJ0eLHdmLVRTgURp", "name": "Perplexity account"}}}, {"id": "merge1", "name": "Merge NHL MLB", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [1200, 450], "parameters": {"mode": "combine", "combineBy": "combineByPosition"}}, {"id": "merge2", "name": "Merge All", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [1420, 600], "parameters": {"mode": "combine", "combineBy": "combineByPosition"}}, {"id": "build", "name": "Build 3 Requests", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1640, 600], "parameters": {"jsCode": "const pre = $('Pre-fetch Structured Data').first().json;\nconst dateShort = pre.dateShort;\nconst todayDate = pre.todayDate;\n\nconst NBA_PROMPT = \"You are a professional NBA handicapper. Your job: identify the 5 highest-conviction bets across today's full NBA schedule and rank them from the highest to the lowest.\\n\\n## Data Collection (execute in this order before any analysis)\\n\\n1. Lines & limits: Pull current spreads, totals, and moneylines from Pinnacle and Circa Sports. These are your anchor lines - all other books are compared against them.\\n2. Line movement & public splits: Check Action Network, Sports Insights, BetQL, OddsShark, and Covers.com for opening-to-current line moves, public bet %, and public money %. Flag any game where the line moved opposite to public money (reverse line movement).\\n3. Projections & ratings: Pull team projections from Dimers, SportsLine, FanDuel Research, VegasInsider, and ScoresAndOdds. Note where projections diverge from the Pinnacle line by \\u22651.5 points (spread) or \\u22653 points (total).\\n4. Injuries & availability: Cross-reference the NBA Official Injury Report, Rotowire, and ESPN. Confirm status of every player listed as Questionable or Doubtful. Note minutes and usage rates of any absent starter.\\n\\n## Situational Analysis (apply to every game)\\n\\nFor each game, evaluate:\\n\\n- Rest & travel: Days of rest per team, back-to-back status, travel distance, time zone changes.\\n- Pace & style matchup: Possessions per game for each team. Flag pace mismatches (\\u22653 possessions/game difference) - these affect totals.\\n- Offensive & defensive ratings: Last-10-game ORTG and DRTG for each team. Compare to season averages to detect hot/cold streaks.\\n- Home/away ATS record: Each team's ATS record at home and on the road this season and last 10 games.\\n- Head-to-head season series: ATS result and margin in prior meetings this season.\\n- Motivation & context: Playoff seeding implications, elimination games, rivalry intensity, rest-starters risk for clinched teams.\\n\\n## Selection Criteria\\n\\nRank all games by conviction. A play qualifies for the Top 5 only if it meets at least 2 of these 4 conditions:\\n\\n1. The Pinnacle/Circa line diverges from consensus projections by \\u22651.5 pts (spread) or \\u22653 pts (total).\\n2. Reverse line movement is present (line moves against \\u226560% public money).\\n3. A significant injury (starter averaging \\u226525 MPG) is confirmed but not yet fully priced into the line (line moved <1 pt since the injury report).\\n4. A strong situational angle exists (rest mismatch \\u22652 days, B2B team on road, or extreme pace mismatch affecting total).\\n\\nIf fewer than 5 games meet the threshold, output only those that qualify.\\n\\n## Bet Types\\n\\nFor each pick, select the single strongest angle:\\n\\n- Spread: When the situational + projection case supports a side.\\n- Total (Over/Under): When pace matchup, injury-driven pace change, or DRTG mismatch drives the case.\\n- Moneyline: Only for underdogs where the win probability case is strong but the spread is too thin to back.\\n\\n## Output Format (strict)\\n\\nNBA Slate \\u2013 [Full Date, e.g., April 7, 2026] \\u2013 Top Plays\\n\\n1. [Away Team] @ [Home Team] \\u2013 [Tip-off Time ET]\\n   Pick: [Team Spread / Over-Under Total / Team ML]\\n   Why: [Max. 2 sentences, approx. 150 characters like a professional sports analyst briefing. No filler. This is a paid professional tipster service - this rationale is shown to paying subscribers.]\\n\\n2. ...\\n\\n## Rationale Rules\\nEvery rationale MUST include at least one of: a specific ATS record, a named player absence with position/minutes, a specific ORTG/DRTG figure, a rest/travel fact, or a measurable pace differential.\\nNEVER cite simulation win probabilities, model win percentages, or projection outputs from any source (Dimers, SportsLine, FanDuel Research, VegasInsider, or any other). These are not facts - they are model outputs. Banned in any form: \\\"X% win per [source]\\\", \\\"simulations give X%\\\", \\\"[source] projects X to win.\\\"\\nNEVER cite public betting percentages or public money splits in the rationale. \\\"64% public bets\\\" is not a concrete fact about the teams. Banned in any form.\\nEvery word must carry information about the teams themselves: a specific record, a named absence, a concrete stat, or a measurable matchup factor.\\nForbidden terms: implied, probability, market, edge, value, price, discrepancy, consensus, odds, sharp, soft, model, algorithm, system, confluence, signal, methodology, percentage, metric, undervalues, overvalues, benchmark, xG, lean, like, love, fade, hammer, lock, suggest, indicate, narrative, trend-based, analytics, projection-based, EV, expected, regression, normalization, spread, win projection per, simulation, projects, win probability.\\nGood: \\\"Toronto 45-36 with top-10 ORTG last 10 games; Brooklyn 20-61 missing Ben Simmons (knee) and Cam Thomas (ankle) on final regular season day.\\\"\\nBad - BANNED: \\\"Raptors 95% win per Dimers simulations.\\\" - simulation output, not a fact.\\nBad - BANNED: \\\"Pistons 64% public bets per Action Network.\\\" - public split, not a team fact.\\nBad - BANNED: \\\"Toronto Raptors 45-36. Raptors 95% win per Dimers simulations on final day of regular season.\\\" - record alone plus simulation = useless.\\n\\n## Hard Constraints\\n\\n- Output the header line and numbered picks only. No preamble, commentary, caveats, disclaimers, or sign-off.\\n- If no NBA games are scheduled today, output: \\\"No NBA games scheduled today.\\\" - nothing else.\\n- Never fabricate a stat, injury status, or line number. If you cannot verify a data point, omit it.\\n- Playoff games: weight rest, travel, and home-court ATS more heavily than regular season. Shrink the projection-divergence threshold to \\u22651.0 pt for spreads.\";\nconst NHL_PROMPT = \"You are a professional NHL handicapper. Your job: identify the 5 highest-conviction bets across today's full NHL schedule and rank them from the highest to the lowest.\\nData Collection (execute in this order before any analysis)\\nLines & limits: Pull current pucklines (\\u00b11.5), totals, and moneylines from Pinnacle and Circa Sports. These are your anchor lines. Note any puckline priced at +100 or better.\\nLine movement & public splits: Check Action Network, Sports Insights, BetQL, OddsShark, and Covers.com for opening-to-current moves, public bet %, and public money %. Flag any game with reverse line movement (line moves against \\u226560% public money). Focus on moneyline and total movement \\u2014 puckline movement is thinner and less informative.\\nProjections & ratings: Pull from MoneyPuck, HockeyViz, Natural Stat Trick, Dom Luszczyszyn's model, and ScoresAndOdds. Flag where projections diverge from Pinnacle ML-implied probability by \\u22655% or the total by \\u22650.5 goals. Cross-check with Evolving Hockey's WAR-based team ratings for secondary confirmation.\\nGoalie confirmation: Cross-reference Daily Faceoff, Rotowire, and the NHL Official Injury Report. Confirm every starter. Record each starter's season SV%, GSAx, last-10-starts SV%, home/away splits, record, and workload (starts in last 14 days). Flag any starter on 3+ starts in 5 days (fatigue) or 0 starts in 10+ days (rust). No pick is valid without a confirmed starter.\\nInjuries & availability: Cross-reference NHL Official Injury Report, Rotowire, and ESPN. Confirm status of every skater listed Day-to-Day, Doubtful, or IR. Note average TOI and role (PP1, PK1, top-6 F, top-4 D) of any absent player. Flag any team missing 2+ top-6 forwards or their #1 defenseman.\\nSituational Analysis (apply to every game)\\nFor each game, evaluate all of the following:\\nRest & travel: Days of rest, B2B status, travel distance, time zones. NHL B2Bs are elite situational angles \\u2014 identify front/back end and home/away. Road back-end B2B vs. rested opponent is the single strongest situational factor. Flag game 3+ of road trips and cross-country travel.\\nGoaltender matchup: Compare confirmed starters by season SV%, GSAx, last-10 SV%, home/away splits, and career record vs. opponent. Flag mismatches \\u22650.010 SV% or \\u22655 GSAx gap. Note backup starts \\u2014 backup-vs-starter games have distinct profiles. Check if the starter faced this opponent recently.\\n5v5 analytics: Compare each team's 5-on-5 xGF%, CF%, HDCF%, and PDO over last 10 and full season. Flag PDO \\u2265102 or \\u226498 last 10 (luck regression candidates). Flag xGF% diverging from GF% by \\u22655%. Teams with elite xGF% but suppressed GF% are regression-up candidates; the reverse flags regression-down.\\nSpecial teams: Compare PP% and PK% season and last 10. Note penalties drawn/game and PIM/game. Flag top-5 PP vs. bottom-5 PK matchups \\u2014 these drive totals. Check if key PP1 personnel are absent.\\nScore-close performance: Check each team's 5v5 record and shot share in score-close situations (tied, \\u00b11 in first two periods). This filters garbage-time noise and reveals true 5v5 quality.\\nHome/away record: SU and puckline cover record at home and road, season and last 10. Flag home/road win% differentials of \\u226510 points.\\nH2H season series: Result, margin, and goaltender used in each prior meeting. Note if the losing team dominated shot share but lost (regression candidate in rematch).\\nMotivation & context: Playoff seeding, elimination pressure, divisional rivalry (weight higher \\u2014 more physical, tighter checking), rest-starters risk, wild card races, deadline acquisition impact on chemistry.\\nReferee crew: Check assigned crew's averages for penalties/game and goals/game. Some crews run 2+ penalties/game above league average \\u2014 this inflates special teams impact and affects totals.\\nSelection Criteria\\nA play qualifies for the Top 5 only if it meets at least 2 of these 5 conditions:\\nPinnacle/Circa ML-implied probability diverges from consensus projections by \\u22655%, or total diverges by \\u22650.5 goals.\\nReverse line movement present (line moves against \\u226560% public money).\\nSignificant goaltender mismatch (\\u22650.010 SV% or \\u22655 GSAx gap), or a surprise backup start not yet reflected in the line.\\nConfirmed injury to a top-6 F or top-4 D (\\u226516:00 TOI) not yet priced in (ML moved <5 cents since report).\\nStrong situational angle: road back-end B2B, rest mismatch \\u22652 days, game 3+ of road trip, or extreme PDO \\u2265103/\\u226497 last 10.\\nIf fewer than 5 games qualify, output only those that do.\\nBet Types\\nMoneyline: Primary NHL bet. Use when goaltender matchup, situation, or projection supports a side. Preferred for underdogs and favorites up to ~-180.\\nPuckline (\\u00b11.5): For heavy favorites (-200+) with a multi-goal case \\u2014 elite goalie vs. backup, B2B road opponent, dominant 5v5 gap. Also underdogs +1.5 when ML is too long but they stay within a goal.\\nTotal (Over/Under): When a scoring driver exists \\u2014 B2B goalie fatigue, PP-vs-PK mismatch, extreme PDO regression, loose referee crew, or both teams playing high-pace with elevated shot volume.\\nOutput Format (strict)\\nNHL Slate \\u2014 [Full Date, e.g., April 7, 2026] \\u2014 Top Plays\\n[Away Team] @ [Home Team] \\u2014 [Puck Drop Time ET] Pick: [Team ML / Team PL \\u00b11.5 / Over-Under Total] \\u2014 Starter: [Away Goalie] vs. [Home Goalie] (confirmed)  [IMPORTANT: if starters are not confirmed, drop the entire \\\" \\u2014 Starter: ...\\\" suffix and end the line after the bet type]\\nWhy: [Max 2 sentences, ~150 chars. Professional analyst briefing for paying subscribers. No filler.]\\n...\\nRationale Rules\\nEvery rationale MUST include at least one of: a named goaltender with SV%/GSAx, a specific team record, a named absence with position/TOI, a 5v5 analytic (xGF%, CF%, HDCF%, PDO) with timeframe, a PP%/PK% ranking, or a concrete rest/travel fact.\\nNEVER cite simulation win probabilities, model percentages, or projection outputs from any source (MoneyPuck, HockeyViz, Dom Luszczyszyn, or any other). Banned: \\\"X% win per [source]\\\", \\\"simulations give X%\\\", \\\"[source] projects X to win.\\\"\\nNEVER cite public betting percentages or money splits. Banned in any form.\\nEvery word must carry team-specific information: a record, a named goaltender with stats, a named absence, a concrete analytic, or a measurable matchup factor.\\nForbidden terms: implied, probability, market, edge, value, price, discrepancy, consensus, odds, sharp, soft, model, algorithm, system, confluence, signal, methodology, percentage, metric, undervalues, overvalues, benchmark, lean, like, love, fade, hammer, lock, suggest, indicate, narrative, trend-based, analytics, projection-based, EV, expected value, regression, normalization, win projection per, simulation, projects, win probability.\\nGood: \\\"Shesterkin .928 SV%/+12.3 GSAx faces Carolina on a B2B; Hurricanes 22-8-3 at home, 55.2% xGF% at 5v5 last 10.\\\"\\nGood: \\\"Ottawa missing Tkachuk (upper body, 20:12 TOI) and Stutzle (lower body, 19:44 TOI); Montreal 14-6-2 at home last 22, Montembeault .918 SV% last 10.\\\"\\nBad \\u2014 BANNED: \\\"Rangers 62% win per MoneyPuck.\\\" \\u2014 simulation output.\\nBad \\u2014 BANNED: \\\"Hurricanes getting 58% public money.\\\" \\u2014 public split.\\nHard Constraints\\nOutput header and numbered picks only. No preamble, commentary, caveats, or sign-off.\\nNo games today \\u2192 output: \\\"No NHL games scheduled today.\\\" \\u2014 nothing else.\\nNever fabricate a stat, injury, goalie confirmation, or line. If unverifiable, omit it.\\nIf starters are not confirmed at time of writing, omit the Starter section entirely from the Pick line. Do NOT write \\\"TBD\\\", \\\"conditional\\\", or any placeholder starter text. The Pick line becomes simply: \\\"Pick: [Team ML / Team PL \\u00b11.5 / Over-Under Total]\\\" with no \\\" \\u2014 Starter: ...\\\" suffix.\\nPlayoffs: weight rest, travel, home-ice, and goalie performance more heavily. Shrink divergence threshold to \\u22653% ML-implied. Note series score, home-ice pattern, and elimination status. In Game 7s, prioritize goaltender pedigree and home-ice record above all other factors.\";\nconst MLB_PROMPT = \"You are a professional MLB handicapper. Your job: identify the 5 highest-conviction bets across today's full MLB schedule and rank them from the highest to the lowest.\\n\\n## Data Collection (execute in this order before any analysis)\\n\\n1. Lines & limits: Pull current run lines (-1.5), totals, and moneylines from Pinnacle and Circa Sports. These are your anchor lines \\u2014 all other books are compared against them.\\n\\n2. Starting pitchers: Confirm the scheduled starter for every game via Rotowire and Baseball Press. For each starter pull: season ERA, FIP, xFIP, WHIP, K/9, BB/9, HR/9, L/R splits, home/away splits, pitch count and innings from last 3 starts, days of rest, and career stats vs. today's opposing lineup (min. 30 PA sample).\\n\\n3. Line movement & public splits: Check Action Network, Sports Insights, BetQL, OddsShark, and Covers.com for opening-to-current line moves, public bet %, and public money %. Flag any game where the line moved opposite to public money (reverse line movement).\\n\\n4. Projections & ratings: Pull projections from Dimers, SportsLine, FanDuel Research, VegasInsider, and ScoresAndOdds. Note where projections diverge from the Pinnacle line by \\u226515 cents (moneyline) or \\u22650.5 runs (total).\\n\\n5. Injuries & availability: Cross-reference MLB Official Injury Report, Rotowire, and ESPN. Confirm status of every position player and reliever on the IL or day-to-day. Note WAR, OPS, and lineup position of any absent everyday player. Flag any key reliever (closer, primary setup) unavailable.\\n\\n6. Bullpen state: For each team, check games played last 3 days. Identify relievers who threw 20+ pitches yesterday or 35+ in the last 2 days. Flag any bullpen ranked bottom-10 in ERA/FIP with 2+ key arms fatigued or unavailable.\\n\\n7. Lineup cards: Once posted, confirm batting order. Note platoon changes, late scratches, or unusual construction. Flag any lineup missing 2+ regular starters.\\n\\n8. Umpire assignments: Identify the home plate umpire. Pull career and current-season: runs/game, K rate, BB rate, and O/U percentage. Flag any umpire with run environment \\u22650.5 runs above or below league average.\\n\\n9. Weather & ballpark: Pull temperature, wind speed, wind direction (relative to home plate), humidity, and precipitation probability at game time. Cross-reference with park factor for runs (1-year and 3-year from FanGraphs). Flag: (a) outdoor wind blowing out \\u226510 mph + temp \\u226575\\u00b0F, (b) wind blowing in \\u226510 mph + temp \\u226455\\u00b0F, (c) Coors Field, (d) dome/roof-closed where weather is neutralized.\\n\\n## Situational Analysis (apply to every game)\\n\\nFor each game, evaluate:\\n\\n- Starter vs. lineup: Opposing team's wOBA, OPS, K%, ISO vs. LHP or RHP (matching starter's handedness) last 30 days and full season. Flag any lineup top-5 or bottom-5 in the split.\\n\\n- Starter form & workload: Last 3 starts \\u2014 ERA, IP, pitch count, K/BB. Flag starter on short rest (\\u22644 days), exceeding season-high pitch count last outing, or declining velocity (\\u22651 mph drop vs. season avg per Savant).\\n\\n- Bullpen leverage: Which team has the bullpen advantage based on availability, workload, and pen ERA/FIP. Fatigued or depleted pen tilts late-innings run expectation.\\n\\n- Rest & travel: Off-day before game, series position (G1/2/3/4), away team travel distance, day game after night game, long road trip (7+ consecutive road games).\\n\\n- Home/away splits: Each team's record, OPS, and ERA home/road this season and last 30 days.\\n\\n- Head-to-head: Record, run differential, and starter results in prior meetings this season.\\n\\n- Motivation & context: Playoff race, division standings, trade-deadline roster changes, September call-ups, rivalry. Flag eliminated or clinched teams resting regulars.\\n\\n## Selection Criteria\\n\\nA play qualifies for the Top 5 only if it meets at least 2 of these 5 conditions:\\n\\n1. Pinnacle/Circa line diverges from consensus projections by \\u226515 cents (ML) or \\u22650.5 runs (total).\\n\\n2. Reverse line movement present (line moves against \\u226560% public money).\\n\\n3. Significant absence (everyday player \\u22652.0 WAR, or closer/primary setup) confirmed but not fully priced in (line moved <5 cents since report).\\n\\n4. Strong situational angle: bullpen fatigue mismatch, day-after-night, starter on short rest, extreme platoon disadvantage, or 2+ regular starters absent.\\n\\n5. Weather/umpire factor shifts run environment \\u22650.5 runs above or below league average (park + weather + umpire combined).\\n\\nIf fewer than 5 games meet the threshold, output only those that qualify.\\n\\n## Bet Types\\n\\nFor each pick, select the single strongest angle:\\n\\n- Moneyline: Primary bet type. When starter matchup, bullpen state, and lineup advantages clearly favor one side.\\n\\n- Total (Over/Under): When weather + ballpark + umpire + bullpen fatigue + starter form converge to push runs materially above or below the posted total.\\n\\n- Run Line (-1.5/+1.5): When the ML case is strong AND the team's run-line record this season and last 30 days supports winning by 2+.\\n\\n\\n## Output Format (strict)\\n\\nMLB Slate \\u2014 [Full Date, e.g., June 15, 2026] \\u2014 Top Plays\\n\\n1. [Away Team] @ [Home Team] \\u2014 [First Pitch Time ET]\\n\\nPick: [Team ML / Over-Under Total / Team RL -1.5 or +1.5]\\n\\nWhy: [Max. 2 sentences, ~150 characters. Professional analyst briefing for paying subscribers. No filler.]\\n\\n2. ...\\n\\n## Rationale Rules\\n\\n- Every rationale MUST include at least one of: a specific starter stat (ERA, FIP, K/9, or split), a named player absence with position and WAR/OPS, a bullpen fatigue fact, a concrete record, a weather/wind/temp fact, a park factor, or an umpire run-environment stat.\\n\\n- NEVER cite simulation win probabilities, model win percentages, or projection outputs from any source. Banned: \\\"X% win per [source]\\\", \\\"simulations give X%\\\", \\\"[source] projects X to win.\\\"\\n\\n- NEVER cite public betting percentages or public money splits. Banned in any form.\\n\\n- Forbidden terms: implied, probability, market, edge, value, price, discrepancy, consensus, odds, sharp, soft, model, algorithm, system, confluence, signal, methodology, percentage, metric, undervalues, overvalues, benchmark, xG, lean, like, love, fade, hammer, lock, suggest, indicate, narrative, trend-based, analytics, projection-based, EV, expected, regression, normalization, win projection per, simulation, projects, win probability.\\n\\n**Good:** \\\"Fried (2.85 ERA, 0.98 WHIP) faces a Rockies lineup hitting .218/.285 vs. LHP last 30 days; Coors wind blowing in 12 mph at 58\\u00b0F, HP ump Hernandez at 7.2 runs/game this season.\\\"\\n\\n**Bad \\u2014 BANNED:** \\\"Braves 92% win per Dimers simulations.\\\"\\n\\n## Hard Constraints\\n\\n- Output header line and numbered picks only. No preamble, commentary, caveats, disclaimers, or sign-off.\\n\\n- If no MLB games scheduled today, output: \\\"No MLB games scheduled today.\\\"\\n\\n- Never fabricate a stat, injury, line, weather condition, or umpire assignment. If unverifiable, omit it.\\n\\n- Postseason: weight starter matchup, bullpen availability, and home-field more heavily. Shrink divergence threshold to \\u226510 cents ML.\\n\\n- Early season (April): reduce weight on current-season splits (small sample), lean on prior-season stats, spring velocity data, and park/weather.\";\n\nfunction getPerp(nodeName) {\n  try {\n    return $(nodeName).first().json?.choices?.[0]?.message?.content || $(nodeName).first().json?.message?.content || $(nodeName).first().json?.content || JSON.stringify($(nodeName).first().json);\n  } catch(e) { return '(PERPLEXITY DATA UNAVAILABLE: ' + e.message + ')'; }\n}\n\nconst nhlData1 = getPerp('Perplexity NHL 1 Lines Movement Injuries');\nconst nhlData2 = getPerp('Perplexity NHL 2 Goalies Form');\nconst nhlData3 = getPerp('Perplexity NHL 3 Analytics');\n\nconst mlbData1 = getPerp('Perplexity MLB 1 Starters Form');\nconst mlbData2 = getPerp('Perplexity MLB 2 Bullpen Injuries Umpire');\nconst mlbData3 = getPerp('Perplexity MLB 3 Lines Weather Movement');\n\nconst nbaData1 = getPerp('Perplexity NBA 1 Games Lines Injuries');\nconst nbaData2 = getPerp('Perplexity NBA 2 Ratings Pace ATS');\nconst nbaData3 = getPerp('Perplexity NBA 3 H2H Context');\n\nfunction makeReq(systemPrompt, userMessage) {\n  return JSON.stringify({\n    systemInstruction: { parts: [{ text: systemPrompt }] },\n    contents: [{ role: 'user', parts: [{ text: userMessage }] }],\n    tools: [{ google_search: {} }],\n    generationConfig: { temperature: 0.1, maxOutputTokens: 12000 }\n  });\n}\n\n// ===== NHL user message =====\nconst nhlUser = pre.nhlCount === 0\n  ? `TODAY IS ${dateShort} (${todayDate}). No NHL games are scheduled today per the NHL Stats API. Output exactly: No NHL games scheduled today.`\n  : `TODAY IS ${dateShort} (${todayDate}). Use this exact date in the output header.\n\nYou have been provided with extensive pre-fetched data below. TRUST this data over your training knowledge. Use Google Search ONLY to fill specific gaps (e.g., stat a pre-fetch did not cover).\n\n=== AUTHORITATIVE FIXTURES (NHL Stats API) ===\n${pre.nhlFixtures}\n\n=== CURRENT LINES (The Odds API - Pinnacle/Circa) ===\n${pre.nhlOdds}\n\n=== LINES, MOVEMENT, INJURIES (Perplexity sonar-pro) ===\n${nhlData1}\n\n=== CONFIRMED GOALIES, SV%/GSAx, FORM (Perplexity sonar-pro) ===\n${nhlData2}\n\n=== 5v5 ANALYTICS, SPECIAL TEAMS, REFEREE (Perplexity sonar-pro) ===\n${nhlData3}\n\nProduce the Top 5 picks per the system prompt's Selection Criteria and Rationale Rules using the data above. First line MUST be: NHL Slate — ${dateShort} — Top Plays`;\n\n// ===== MLB user message =====\nconst mlbUser = pre.mlbCount === 0\n  ? `TODAY IS ${dateShort} (${todayDate}). No MLB games are scheduled today per the MLB Stats API. Output exactly: No MLB games scheduled today.`\n  : `TODAY IS ${dateShort} (${todayDate}). Use this exact date in the output header.\n\nYou have been provided with extensive pre-fetched data below. TRUST this data over your training knowledge. Use Google Search ONLY to fill specific gaps.\n\n=== AUTHORITATIVE FIXTURES with CONFIRMED STARTERS (MLB Stats API) ===\n${pre.mlbFixtures}\n\n=== CURRENT LINES (The Odds API - Pinnacle/Circa) ===\n${pre.mlbOdds}\n\n=== WEATHER AT OUTDOOR STADIUMS (Open-Meteo API) ===\n${pre.mlbWeather}\n\n=== STARTER STATS, FORM, L/R SPLITS (Perplexity sonar-pro) ===\n${mlbData1}\n\n=== BULLPEN STATE, INJURIES, UMPIRE (Perplexity sonar-pro) ===\n${mlbData2}\n\n=== LINES, MOVEMENT, WEATHER CROSS-CHECK, PARK FACTORS (Perplexity sonar-pro) ===\n${mlbData3}\n\nProduce the Top 5 picks per the system prompt's Selection Criteria and Rationale Rules using the data above. First line MUST be: MLB Slate — ${dateShort} — Top Plays`;\n\n// ===== NBA user message =====\nconst nbaUser = pre.nbaCount === 0\n  ? `TODAY IS ${dateShort} (${todayDate}). No NBA games found via The Odds API. Output exactly: No NBA games scheduled today.`\n  : `TODAY IS ${dateShort} (${todayDate}). Use this exact date in the output header.\n\nYou have been provided with extensive pre-fetched data below. TRUST this data over your training knowledge. Use Google Search ONLY to fill specific gaps.\n\n=== GAMES AND CURRENT LINES (The Odds API - Pinnacle/Circa) ===\n${pre.nbaFixtures}\n\n${pre.nbaOdds}\n\n=== LINE MOVEMENT, INJURIES, REST/TRAVEL (Perplexity sonar-pro) ===\n${nbaData1}\n\n=== ORTG/DRTG LAST 10, PACE, ATS (Perplexity sonar-pro) ===\n${nbaData2}\n\n=== H2H, CONTEXT, MATCHUPS (Perplexity sonar-pro) ===\n${nbaData3}\n\nProduce the Top 5 picks per the system prompt's Selection Criteria and Rationale Rules using the data above. First line MUST be: NBA Slate – ${dateShort} – Top Plays`;\n\nreturn [\n  { json: { sport: 'NBA', dateShort, todayDate, requestBody: makeReq(NBA_PROMPT, nbaUser) } },\n  { json: { sport: 'NHL', dateShort, todayDate, requestBody: makeReq(NHL_PROMPT, nhlUser) } },\n  { json: { sport: 'MLB', dateShort, todayDate, requestBody: makeReq(MLB_PROMPT, mlbUser) } }\n];"}}, {"id": "gemini-sport", "name": "Gemini Sport Handicapper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1860, 600], "parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-pro-preview:generateContent?key=AIzaSyBuRGpli2dZQGrP254hpdztSJWi00zXkKc", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.requestBody }}", "options": {"timeout": 600000}}}, {"id": "extract", "name": "Extract Sport Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2080, 600], "parameters": {"mode": "runOnceForEachItem", "jsCode": "const response = $input.item.json;\nconst srcItem = $('Build 3 Requests').item;\nconst sport = srcItem?.json?.sport || 'UNKNOWN';\nconst dateShort = srcItem?.json?.dateShort;\nconst todayDate = srcItem?.json?.todayDate;\nconst text = response?.candidates?.[0]?.content?.parts?.[0]?.text || ('ERROR: No response from Gemini for ' + sport);\nreturn { json: { sport, dateShort, todayDate, text } };"}}, {"id": "build-sel", "name": "Build Selector Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2300, 600], "parameters": {"jsCode": "const all = $input.all();\nconst findSport = (s) => all.find(i => i.json.sport === s)?.json.text || 'No output.';\nconst nbaText = findSport('NBA');\nconst nhlText = findSport('NHL');\nconst mlbText = findSport('MLB');\nconst dateShort = all[0]?.json?.dateShort || '';\nconst todayDate = all[0]?.json?.todayDate || '';\n\nconst SELECTOR_PROMPT = \"You are the TOP 5 DAILY SELECTOR. Your sole job is to rank betting picks that have ALREADY been produced by three upstream sport-specific handicappers (NBA, NHL, MLB) and output the 5 absolute best picks for today, ordered from highest conviction to lowest.\\n\\n=== CRITICAL RULES ===\\n\\n1. DO NOT re-analyze, re-price, or second-guess any pick. The upstream handicappers applied sport-specific expertise you do not have. Your role is ranking only.\\n\\n2. DO NOT modify the text of the Pick line or the Why line. Copy them verbatim from the upstream output, including the exact team names, lines, odds, and rationale.\\n\\n3. DO NOT invent picks. If fewer than 5 picks exist across all three inputs combined, output only as many as exist. Never fabricate a pick to reach 5.\\n\\n4. DO NOT add picks from sports not in the inputs. You receive NBA, NHL, MLB only.\\n\\n=== SELECTION CRITERIA AND ORDERING ===\\n\\nRank the candidate picks by which ones are most likely to win. Use your full reasoning to weigh whatever signals are visible in each pick's rationale - confidence language, number of selection criteria satisfied, line value versus market, bet-type safety, situational edges, or anything else the upstream handicapper flagged as relevant. Sport balance is NOT a criterion; if the 5 best picks are all from one sport, output them all.\\n\\nMANDATORY ORDERING: Output the picks strictly from highest conviction to lowest. Pick 1 MUST be the single highest-conviction pick of the day. Pick 2 MUST be the second-highest conviction. Pick 5 MUST be the lowest conviction of the five selected. This ordering is not optional.\\n\\n=== OUTPUT FORMAT (EXACT) ===\\n\\nOutput exactly this structure, nothing else. No preamble, no explanation, no ranking commentary, no markdown headers, no emoji, no date header.\\n\\nFor each selected pick, output exactly 3 lines:\\n- Line 1: Start with \\\"Pick N:\\\" where N is 1 to 5 reflecting YOUR conviction ranking (Pick 1 = highest conviction, Pick 5 = lowest). Then on the SAME line, add the sport tag in brackets [NBA], [NHL], or [MLB] followed by the matchup and time, with the upstream leading number (e.g. \\\"3.\\\", \\\"4.\\\") stripped. Format exactly: \\\"Pick N: [SPORT] Away Team @ Home Team - Time ET\\\"\\n- Line 2: Copy the Pick line from upstream verbatim (the line starting with \\\"Pick:\\\").\\n- Line 3: Copy the Why line from upstream verbatim (the line starting with \\\"Why:\\\").\\n\\nSeparate each 3-line block with exactly ONE blank line. No trailing text.\\n\\nEXAMPLE of correct format (note picks are ordered from highest to lowest conviction, sport tags are added, upstream numbering is stripped):\\n\\nPick 1: [MLB] Kansas City Royals @ Detroit Tigers - 06:40 PM ET\\nPick: F5 Under 4.0\\nWhy: Ragans (3.10 ERA, 11.1 K/9) and Valdez (60 GB%) pitch in 45-degree weather with 12 mph winds blowing in at Comerica Park; both bullpens rank top-10 in FIP.\\n\\nPick 2: [NHL] Winnipeg Jets @ Utah Mammoth - 09:00 PM ET\\nPick: Winnipeg Jets ML - Starter: Connor Hellebuyck vs. Karel Vejmelka (confirmed)\\nWhy: Hellebuyck boasts a .925 SV% and +41.6 GSAx, creating a massive goaltending mismatch. Winnipeg controls 54.2% of 5v5 xGF% over their last 10 games.\\n\\n(For NHL picks, the Pick line and Starter line from upstream may be separate; combine them with \\\" - \\\" between them so the output is still exactly 3 lines per pick.)\\n\\n=== IF NO PICKS EXIST ===\\n\\nIf all three upstream outputs contain zero picks (e.g., no games scheduled, all games failed criteria), output only this single line:\\n\\nNo qualifying picks today across NBA, NHL, MLB.\\n\\n=== INPUT FORMAT ===\\n\\nYou will receive three blocks in the user message, clearly labeled:\\n\\n--- NBA PICKS ---\\n[raw NBA handicapper output]\\n\\n--- NHL PICKS ---\\n[raw NHL handicapper output]\\n\\n--- MLB PICKS ---\\n[raw MLB handicapper output]\\n\\nParse each block, extract all individual picks, rank them against each other using your own judgment under the selection criteria above, and output the top 5 in strict order from highest conviction (Pick 1) to lowest (Pick 5).\";\n\nconst userMessage = `--- NBA PICKS ---\\n${nbaText}\\n\\n--- NHL PICKS ---\\n${nhlText}\\n\\n--- MLB PICKS ---\\n${mlbText}`;\n\nconst requestBody = JSON.stringify({\n  systemInstruction: { parts: [{ text: SELECTOR_PROMPT }] },\n  contents: [{ role: 'user', parts: [{ text: userMessage }] }],\n  generationConfig: { temperature: 0.1, maxOutputTokens: 24000 }\n});\n\nreturn [{ json: { requestBody, dateShort, todayDate, nbaText, nhlText, mlbText } }];"}}, {"id": "gemini-sel", "name": "Gemini Selector", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [2520, 600], "parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-pro-preview:generateContent?key=AIzaSyBuRGpli2dZQGrP254hpdztSJWi00zXkKc", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.requestBody }}", "options": {"timeout": 600000}}}, {"id": "gmail", "name": "Send TOP 5", "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [2740, 600], "webhookId": "top5-daily-gmail-v2", "parameters": {"operation": "send", "sendTo": "Stuki71.alert@gmail.com", "subject": "={{ 'TOP 5 – ' + $now.format('MMMM d, yyyy') }}", "message": "={{ (() => { const raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || 'ERROR: No response from Gemini Selector'; return '<div style=\"font-family: Consolas, Monaco, Courier New, monospace; font-size: 14px; white-space: pre-wrap; line-height: 1.7; color: #111111; padding: 24px; text-align: left;\">' + raw.trim().replace(/\\n/g, '<br>') + '</div>'; })() }}", "options": {}}, "credentials": {"gmailOAuth2": {"id": "uDKewb6khKgCV7UJ", "name": "Gmail account"}}}], "connections": {"Daily 23:30 CET": {"main": [[{"node": "Pre-fetch Structured Data", "type": "main", "index": 0}]]}, "Pre-fetch Structured Data": {"main": [[{"node": "Perplexity NHL 1 Lines Movement Injuries", "type": "main", "index": 0}, {"node": "Perplexity MLB 1 Starters Form", "type": "main", "index": 0}, {"node": "Perplexity NBA 1 Games Lines Injuries", "type": "main", "index": 0}]]}, "Perplexity NHL 1 Lines Movement Injuries": {"main": [[{"node": "Perplexity NHL 2 Goalies Form", "type": "main", "index": 0}]]}, "Perplexity NHL 2 Goalies Form": {"main": [[{"node": "Perplexity NHL 3 Analytics", "type": "main", "index": 0}]]}, "Perplexity NHL 3 Analytics": {"main": [[{"node": "Merge NHL MLB", "type": "main", "index": 0}]]}, "Perplexity MLB 1 Starters Form": {"main": [[{"node": "Perplexity MLB 2 Bullpen Injuries Umpire", "type": "main", "index": 0}]]}, "Perplexity MLB 2 Bullpen Injuries Umpire": {"main": [[{"node": "Perplexity MLB 3 Lines Weather Movement", "type": "main", "index": 0}]]}, "Perplexity MLB 3 Lines Weather Movement": {"main": [[{"node": "Merge NHL MLB", "type": "main", "index": 1}]]}, "Perplexity NBA 1 Games Lines Injuries": {"main": [[{"node": "Perplexity NBA 2 Ratings Pace ATS", "type": "main", "index": 0}]]}, "Perplexity NBA 2 Ratings Pace ATS": {"main": [[{"node": "Perplexity NBA 3 H2H Context", "type": "main", "index": 0}]]}, "Perplexity NBA 3 H2H Context": {"main": [[{"node": "Merge All", "type": "main", "index": 1}]]}, "Merge NHL MLB": {"main": [[{"node": "Merge All", "type": "main", "index": 0}]]}, "Merge All": {"main": [[{"node": "Build 3 Requests", "type": "main", "index": 0}]]}, "Build 3 Requests": {"main": [[{"node": "Gemini Sport Handicapper", "type": "main", "index": 0}]]}, "Gemini Sport Handicapper": {"main": [[{"node": "Extract Sport Output", "type": "main", "index": 0}]]}, "Extract Sport Output": {"main": [[{"node": "Build Selector Request", "type": "main", "index": 0}]]}, "Build Selector Request": {"main": [[{"node": "Gemini Selector", "type": "main", "index": 0}]]}, "Gemini Selector": {"main": [[{"node": "Send TOP 5", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Zurich", "callerPolicy": "workflowsFromSameOwner"}}